<div class="container mat-elevation-z4" style="padding: 20px; margin: 20px;">
    <mat-toolbar color="primary">
      <span>Ferretería Ferremas - Quiénes Somos</span>
    </mat-toolbar>
  
    <div class="content" style="text-align: center; margin-top: 20px;">
      <h1>Quiénes Somos</h1>
      <p style="font-size: 18px;">
        En Ferretería Ferremas, somos más que una simple ferretería. Nos dedicamos a ofrecer productos de alta calidad 
        y un servicio excepcional a todos nuestros clientes. Con más de 20 años de experiencia en el mercado, hemos 
        construido una reputación basada en la confianza y la satisfacción del cliente.
      </p>
      <p style="font-size: 18px;">
        Nuestro equipo está compuesto por profesionales apasionados y expertos en la industria, siempre dispuestos a 
        brindar asesoramiento y apoyo en cada proyecto que emprendas. Creemos en la importancia de los detalles y en 
        proporcionar soluciones que realmente marquen la diferencia.
      </p>
      <p style="font-size: 18px;">
        En Ferretería Ferremas, nuestra misión es ser tu aliado confiable en todas tus necesidades de construcción y 
        mejora del hogar. Estamos comprometidos a ofrecer un servicio personalizado y productos de primera calidad 
        que te ayudarán a lograr tus objetivos con éxito.
      </p>
    </div>
  </div>

